/* Always use em in media queries instead of rem. rem in some browsers contain some errors (webkit error)*/

/**********************/
/* Below 1344px */
/**********************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/***********************************/
/* Below 1248px (Landscape tablet)*/
/**********************************/
@media (max-width: 78em) {
  /* 9px  */
  html {
    font-size: 56.2%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 8rem;
  }

  .header {
    padding: 3.2rem;
  }

  .hero {
    gap: 6.4rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonial-container {
    padding: 3.2rem;
  }
}

/***********************************/
/* Below 944px (Tablet)*/
/**********************************/
@media (max-width: 59em) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 8rem;
    text-align: center;
    gap: 9.6rem;
  }

  .hero-img {
    width: 55%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 4rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal--contents {
    padding: 2.4rem 3.2rem 2.4rem 3.2rem;
  }

  /**********************/
  /* TESTIMONIALS */
  /**********************/

  .section-testimonial {
    grid-template-columns: 1fr;
  }

  .testimonial-container,
  .gallery {
    padding: 4.8rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  /******************************/
  /* CALL TO ACTION SECTION */
  /******************************/
  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Problem is it does not allow for transitions */
    /* display: none; */

    /* Properly hidding navigation without using display none */
    /* 1. Hide it visually */
    opacity: 0;

    /* 2. Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3. Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/******************************/
/* Below 704px(smaller tablet) */
/******************************/
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .logos img {
    height: 1.6rem;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .logo-col,
  .footer-address {
    grid-column: span 3;
  }
}

/******************************/
/* Below 544px(Mobile) */
/******************************/
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols,
  .grid--5-cols {
    grid-template-columns: 1fr;
  }

  .section-hero {
    padding: 2.4rem 0 6.2rem 0;
  }

  .hero {
    padding: 3.2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.4rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .step-img-box:nth-child(2) {
    grid-row: 1/2;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5/6;
  }

  .section-meals {
    padding: 4.8rem 0 9.6rem 0;
  }

  .section-meals .center-text {
    text-align: left;
  }

  .testimonials {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    grid-row: 1;
    height: 30rem;
  }
}

/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/******************************/
/* CSS code for flexbox gap proeperty in Safari */
/******************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }

  @media (max-width: 59em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 4.8rem;
    }
  }
}
